.InsertBlockElement {
    margin: 5px 5px;
    padding: 0 5px;
    height: 50px;
}

.InsertBlockElement:hover {
    background: linear-gradient(#dcdce4, #bdc4cc);
    box-shadow:
        inset rgba(0, 0, 0, .5) 0 -1px 1px,
        inset rgba(0, 0, 0, .2) 0 1px,
        inset #fff 0 2px,
        rgba(0, 0, 0, .2) 0 1px 1px;
    cursor: pointer;
}

.InsertBlockElement:active {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .1));
    box-shadow:
        inset rgba(0, 0, 0, .8) 0 1px 2px,
        inset rgba(0, 0, 0, .05) 0 -1px 0,
        #fff 0 1px 1px;
}

.InsertBlockElementIcon {
    border-radius: 3px;
    overflow: hidden;
    width: 45px;
    height: 45px;
    align-items: center;
}