.topPanel {
  grid-area: top-panel;
  background-color: rgb(187, 187, 201);
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-basis: auto;
  padding: 10px 20px;
  max-height: 75px;
  height: 100%;
}

.blockColumn {
  display: flex;
  flex-direction: column;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.blockRow {
  display: flex;
  flex-direction: row;

}

.InsertBlockList {
  display: flex;
  flex-direction: row;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

label {
  text-align: center;
}